@font-face {
    font-family: Oswald-Light;
    src: url(Oswald-Light.ttf);
}

header{
    background-color: rgb(239, 182, 200);
    margin-left: 0px;
    margin-top: 0px;
    font-family: Oswald-Light;
}
h1{
    position: center;
    display: flex;
    justify-content: center;
    font-family: Oswald-Light;
}
pre{
    position: center;
    display: flex;
    justify-content: center;
    font-size: larger;
}
a{
    color:rgb(129, 116, 160);
    text-decoration: none;
    font-family: Oswald-Light;
}
#a1{
    position: center;
    display: flex;
    justify-content: center;
}

#a2{
    position: center;
    display: flex;
    justify-content: center;
}

#photo{
    margin: auto;
    margin-top: 2px;
    height: 200px;
    width: 150px;
    position: center;
    display: flex;
    justify-content: center;

}

#profile{
    border: solid 2px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15px;
    border-radius: 100px;
}

